.date-selector .p-text {
  margin: 10px;
  text-align: center;
}

.list-selected-dates {
  max-height: 260px;
  overflow: auto;
}
.list-selected-dates::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  border-radius: 5px;
}
.list-selected-dates::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f7f7f7;
}
.list-selected-dates::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, rgb(119, 119, 119)), color-stop(0.72, rgb(158, 158, 158)), color-stop(0.86, rgb(125, 125, 125)));
}
.list-selected-dates .list-group-item {
  width: 90%;
  margin: auto;
}
.list-selected-dates .btn-delete {
  background: none;
  border: none;
  font-size: large;
  color: rgba(188, 31, 31, 0.783);
  padding: 2px 8px;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: content-box;
  transition: all 500ms;
}
.list-selected-dates .btn-delete:hover {
  background-color: rgba(216, 43, 43, 0.755);
  color: rgba(255, 255, 255, 0.918);
  transition: all 300ms;
}

.form-calendar {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid rgba(208, 208, 208, 0.796);
  border-radius: 5px;
}
.form-calendar .input-color label {
  top: 0;
}
.form-calendar .input-color #dateColor {
  margin-top: 5px;
}
.form-calendar .form-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}
.form-calendar .form-btns .btn-submit {
  flex-grow: 1;
}
.form-calendar .form-btns .btn-reset {
  flex-grow: 0;
}