button.accordion-button {
  outline: 0;
  box-shadow: none;
}
button.accordion-button:focus, button.accordion-button:focus-visible {
  outline: 0;
  box-shadow: none;
}

.accordion-body {
  max-height: 300px;
  overflow: auto;
}
.accordion-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  border-radius: 5px;
}
.accordion-body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f7f7f7;
}
.accordion-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, rgb(119, 119, 119)), color-stop(0.72, rgb(158, 158, 158)), color-stop(0.86, rgb(125, 125, 125)));
}

.timezone-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.timezone-option:hover {
  cursor: pointer;
  background-color: aliceblue;
}
.timezone-option.active {
  cursor: not-allowed;
  background-color: #bebebe;
}

.selector-selected-timezones {
  overflow: auto;
  max-height: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  background-color: rgba(247, 247, 247, 0.853);
  padding: 5px;
  border-radius: 5px;
}
.selector-selected-timezones::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  border-radius: 5px;
}
.selector-selected-timezones::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f7f7f7;
}
.selector-selected-timezones::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, rgb(119, 119, 119)), color-stop(0.72, rgb(158, 158, 158)), color-stop(0.86, rgb(125, 125, 125)));
}
.selector-selected-timezones p {
  width: 200px;
  padding: 4px 4px 4px 10px;
  margin: 2px;
  font-size: 0.9em !important;
  background-color: rgba(226, 226, 226, 0.9098039216);
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  border-top: 1px solid transparent;
  border-radius: 2px;
  transition: all 400ms;
  position: relative;
  overflow: hidden;
}
.selector-selected-timezones p::after {
  content: "";
  background: rgba(200, 200, 200, 0.9098039216);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.selector-selected-timezones p:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.selector-selected-timezones p .p-text {
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
  white-space: nowrap;
  flex-grow: 1;
  z-index: 1;
}
.selector-selected-timezones p .p-text:hover {
  animation: slide 3s linear backwards;
  width: -moz-max-content;
  width: max-content;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}
.selector-selected-timezones p:hover {
  cursor: default;
}
.selector-selected-timezones p button {
  position: absolute;
  right: 0;
  background-color: rgba(226, 226, 226, 0.9568627451);
  font-weight: bold;
  font-size: 0.8em;
  border: none;
  border-radius: 0;
  transition: all 300ms;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.selector-selected-timezones p button:hover {
  border: none;
  color: red;
  background-color: rgba(212, 212, 212, 0.9568627451);
  transition: all 300ms;
}